footer {
    background-color: rgb(75, 163, 192);
    color: white;
    width: 100%;
    text-align: center;
    position: relative;
}
p {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}