<app-convert-menu></app-convert-menu>

<section>
<h2> Temperatur-konverterare </h2>

    <p>
        Nedan kan du konvertera från celsius till fahrenheit och vice versa!
    </p>

</section>

<div>
    <label for="num1"> Ange grader i celsius: </label>
    <input type="number" id="num1" [(ngModel)]="celsius">
    <button (click)="convertToFahrenheit()"> Konvertera till fahrenheit </button>
    <p class="convertSum"> {{ resultCtoF }} </p>
<br>
<br>
    <label for="num2"> Ange grader i fahrenheit: </label>
    <input type="number" id="num2" [(ngModel)]="fahrenheit">
    <button (click)="convertToCelsius()"> Konvertera till celsius </button>
    <p class="convertSum"> {{ resultFtoC }}</p>
</div>

<div>
</div>