<section>
    <div>
        <h1> Välkommen! </h1>

        <p> 
            Denna hemsida hjälper dig att konvertera värden. 
        </p>
        <ul>
            <li> Celsius ➡️ Fahrenheit </li>
            <li> Fahrenheit ➡️ Celsius </li>
            <li> Meter ➡️ feet </li>
            <li> Feet ➡️ Meter </li>
        </ul>   
    </div>  

    <div>
        <h2> Kort fakta </h2>
        <br>
            <p id="inl"><strong>
                Varför används egentligen olika mått på saker och ting? 
    <br>
                Det är frågor som väcks naturligt när man stöter på olika måttenheter i vardagen.
            </strong></p>

            <p id="last">
                Olika måttenheter har utvecklats historiskt i olika delar av världen beroende på behov, kultur och tradition. 
                Idag används vissa enheter mer globalt, medan andra lever kvar av praktiska eller kulturella skäl.
            </p>
    </div>

    <div>
        <img [src]="convertImage" alt="Hur man konverterar Ceslius till Fahrenheit.">
    </div>
</section>